:root {
  --main-font: "Inter";
  --gradient-bg:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0 1%, #1a1a1a 100%);
  --main-weight: 410;
  --accent-font: "PressStart2P";
  --padding-block: clamp(
    122px,
    calc(122px + (8 * (100vw - 375px)) / 1065),
    130px
  );
  --padding-inline: clamp(
    16px,
    calc(16px + (106.5 * (100vw - 375px)) / 1065),
    122.5px
  );
  --block-width: clamp(
    375px,
    calc(375px + (325 * (100vw - 375px)) / 1065),
    700px
  );
  --font-size-label-title: clamp(
    49px,
    calc(49px + (16 * (100vw - 375px)) / 1065),
    65px
  );
  --font-size-label-subtitle: clamp(
    14px,
    calc(14px + (9 * (100vw - 375px)) / 1065),
    23px
  );
  --title-weight: 715;
  --accent-color: #000000;
  --image-size: clamp(
    371px,
    calc(371px + (325 * (100vw - 375px)) / 1065),
    696px
  );
  --shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  --color-text: white;
  --padding-inline-dialog: clamp(
    30px,
    calc(40px + (-10 * (100vw - 375px)) / 1065),
    40px
  );
  --text-width: clamp(
    198px,
    calc(198px + (32 * (100vw - 375px)) / 1065),
    230px
  );
  --size-close: clamp(
    261px,
    calc(261px + (32 * (100vw - 375px)) / 1065),
    293px
  );
  --contour-color: black;
  --animation-fill-color: red;
  --invisible: transparent;
}
